
.wrapper {
    font-size: 25px;
    width : 414px;
    height : 100vh;
    min-height: 900px;
    display: flex;
    justify-content: center;
    /* padding: 4rem 0; */
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(194, 192, 192);
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    
}

@media all and (max-width:767px){
    .wrapper {
        transform: translateY(15%);
        height: 900px;
        padding: 0;
        min-height: 600px;
    }

    .main_container {
        height: 600px;
    }


}