
.wrapper {
    width : 414px;
    height : 100vh;
    min-height: 900px;
    /* background-color: beige; */
    /* border: 2px solid black; */
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}