.startPageLayout{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 900px; */
    /* border: 3px solid darkblue; */
    text-align: center;
}

.resultImg img{
    width: 250px;
    margin: 0 auto;
}

.snsBtn img{
    width: 32px;
}
.snsBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
}
.snsShareBtn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
}
.snsShareBtn button{
    width: 33px;
	height: 32px;
	color: white;
	border-radius: 24px;
	border: 0px;
	font-weight: 500;
    text-align: center;
	cursor: pointer;
	background-color: #df5b1ee4;
	&:hover {
		background-color: #a99fee;
	}
}