.startPageLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* max-width: 900px; */
    /* border: 3px solid darkblue; */
}

.test_tilte {
    /* word-break: keep-all; */
    text-align: center;
    z-index: 2;
    color: #F7A4A4;
    margin-top: -80px;
    cursor: none;
}
.test_tilte1 {
    /* word-break: keep-all; */
    text-align: center;
    z-index: 2;
    color: #FEBE8C;
}
.test_tilte2 {
    /* word-break: keep-all; */
    text-align: center;
    z-index: 2;
    color: #FFE15D;
}
.test_tilte3 {
    /* word-break: keep-all; */
    text-align: center;
    z-index: 2;
    color: #B6E2A1;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.test_tilte4 {
    /* word-break: keep-all; */
    text-align: center;
    z-index: 2;
    color: #B1AFFF;
    margin-bottom: 30px ;
}e
/* .mainImg{
} */
.mainImg img{
    width: 400px;
}

.backImg{
    width: 100%;
}

.startBtn{
    margin: 0px auto;
    margin-top:  30px;
    width: 100%;
    max-width: 300px;
}

@media all and (max-width:767px){
    .startPageLayout{
        height: 900px;
        padding-top: 50px;
    }
    .mainImg img{
        width: 350px;
        height: 450px;
    }
    
    .startBtn{
        margin: 10px auto;
        width: 100%;
        max-width: 300px;
    }
    
    
    .mainImg {
        width: 350px;
        margin-top: 0;
    }
}